* {
  padding: 0;
  margin: 0;
}

.root {
  display: flex;
  margin: 30px auto;
  justify-content: center;
  font-family: sans-serif;
}

.heading {
  font-size: 24px;
  padding: 60px;
  text-align: end;
  background: #c0b412;
  /*  #1abc9c  */
  color: #f35858c7;
  font-size: 30px;
}